extends layout

block css
   link(rel='stylesheet' href='/stylesheets/jquery-ui/jquery-ui.css')
   link(rel='stylesheet' href='/stylesheets/datatables/media/css/jquery.dataTables.css')
   link(rel='stylesheet' href='/stylesheets/tokenfield/css/bootstrap-tokenfield.css')

block content
   form.form-horizontal(role="form" id="formTags")
      div.form-group
         label.control-label.col-sm-2(for="tags") Tags:
         div.col-sm-10
            div.input-group
               input#searchTags.form-control(type="text" placeholder="Insira uma tag para pesquisar!!")
               span.input-group-btn
                  button#buttonOR.btn.btn-default Ou
                  button#buttonAND.btn.btn-default E
                  //button#buttonLIKE.btn.btn-default Como
   div.row
      div.col-sm-offset-2.col-sm-10
         table#tableTags.display
block script
   script(src='/stylesheets/tokenfield/bootstrap-tokenfield.js')
   script(src='/javascripts/componentsInit/tokenfields.js')
   script(src='/stylesheets/datatables/media/js/jquery.js')
   script(src='/stylesheets/datatables/media/js/jquery.dataTables.js')
   script(src='/javascripts/componentsInit/tables.js')
   script(src='/javascripts/components/searchForTags.js')
